@charset "utf-8";
@import "./base.less";
//@import "./swiper.min.css";
.w1200{
  width: 1204px;
  margin: 0 auto;
  .pr();
}
.t-container{
  min-width: 1200px;
  background: url("../images/body_bg.jpg") no-repeat center top;
  min-height: 1080px;
  padding-top: 1110px;
  img{
    width: 100px;
  }
}