@charset "utf-8";
@import "./base.less";
//@import "./swiper.min.css";
.w1200{
  width: 1204px;
  margin: 0 auto;
  .pr();
}
.t-container{
  min-width: 1200px;
  background: url("../images/body_bg.jpg") no-repeat center top;
  min-height: 1080px;
  padding-top: 1110px;
  .t-download{
    .pa();
    right: 100px;
    top:32px;
    overflow: hidden;
    a{
      display: block;;
      float: left;
      width: 106px;
      height: 22px;
      background: url("../images/icon_sprite.png") no-repeat;
      margin: 0 18px;
      &.t-icon-download{
        background-position: 0 0;
      }
      &.t-icon-back{
        background-position: -140px 0;
      }
    }
  }
}

.t-part{
  .pr()
}
.t-title{
  width:100%;
  height: 51px;
}
.t-part1{
  background: url("../images/part1_img.png") no-repeat center top;
  .w1200{
    height: 840px;
  }
  .t-check-btn{
    display: block;
    width: 289px;
    height: 98px;
    background: url("../images/check_btn.png") no-repeat center;
    .pa();
    bottom: 120px;
    left: 216px;
  }
}
.t-part2{
  padding-top: 66px;
  .t-title{
    background: url("../images/title1.png") no-repeat center top;
  }
}
.t-swiper-box{
  .pr();
  margin-top: 24px;
  width: 100%;
  height: 461px;
  background: url("../images/swiper_bg.png") no-repeat center;
  .t-tab-container{
    width: 714px;
    height: 418px;
    overflow: hidden;
    margin-left: 244px;
    padding-top: 14px;
  }
  .swiper-button-next,.swiper-button-prev{
    width: 40px;
    height: 80px;
    top:204px
  }

}

.swiper-button-next,.swiper-button-prev{
  width: 40px;
  height: 80px;
  top:204px
}
.swiper-button-next{
  background: url("../images/next.png") no-repeat center;
  left: auto;
  right: 243px;
}
.swiper-button-prev{
  background: url("../images/prev.png") no-repeat center;
  left: 243px;
}
.t-tab-title{
  li{
    .pa();
    top:14px;
    width: 233px;
    height: 418px;
  }
  .t-hd1{
    left: 20px;
    background: url("../images/p1_tab1.jpg") no-repeat center;
    &.current{
      background: url("../images/p1_tab1_on.jpg") no-repeat center;
    }
  }
  .t-hd2{
    right:20px;
    background: url("../images/p1_tab2.jpg") no-repeat center;
    &.current{
      background: url("../images/p1_tab2_on.jpg") no-repeat center;
    }
  }
}
.t-part3{
  padding-top: 146px;
  .t-title{
    background:url("../images/title2.png") no-repeat center top;
  }
  .t-tab-title{
    li{
      height: 208px;
    }
  }
  .t-hd1{
    left: 20px;
    background: url("../images/p2_tab1.jpg") no-repeat center;
    &.current{
      background: url("../images/p2_tab1_on.jpg") no-repeat center;
    }
  }
  .t-hd2{
    left:20px;
    top:222px;
    background: url("../images/p2_tab2.jpg") no-repeat center;
    &.current{
      background: url("../images/p2_tab2_on.jpg") no-repeat center;
    }
  }
  .t-hd3{
    right:20px;
    background: url("../images/p2_tab3.jpg") no-repeat center;
    &.current{
      background: url("../images/p2_tab3_on.jpg") no-repeat center;
    }
  }
  .t-hd4{
    right:20px;
    top:222px;
    background: url("../images/p2_tab4.jpg") no-repeat center;
    &.current{
      background: url("../images/p2_tab4_on.jpg") no-repeat center;
    }
  }
}
.t-part4{
  padding-top: 168px;
  .t-title{
    background:url("../images/title3.png") no-repeat center top;
  }
}
.t-open-range{
  height:52px ;
  line-height: 52px;
  width: 278px;
  background: #f88e72;
  margin: 22px auto 28px;
  .fs(30px,#fff);
  font-weight: bold;
  text-align: center;
}

.t-part4,.t-part5{
  .t-swiper-container{
    .swiper-container{
      width:100%;
      margin: 0 auto;
      overflow: hidden;
      .swiper-slide{
        text-align: center;
        height: 420px;
        overflow: hidden;
        &.swiper-slide-active{
          height: auto;
        }
      }
    }

  }
  .swiper-button-next,.swiper-button-prev{
    width: 40px;
    height: 80px;
    top:340px;
    outline: none
  }
  .swiper-button-next{
    left: auto;
    right: 0;
  }
  .swiper-button-prev{
    left: 0;
  }
}
.t-part5{
  padding-top:143px;
  .t-title{
    background:url("../images/title4.png") no-repeat center top;
  }
  .t-swiper-container{
    background: url("../images/swiper_cover.png") no-repeat center top;
    padding: 66px 24px;
  }
  .swiper-button-next,.swiper-button-prev{
    top:380px;
  }
  .swiper-button-next{
    left: auto;
    right: 24px;
  }
  .swiper-button-prev{
    left: 24px;
  }
}
.t-part6{
  padding-top:120px;
  .t-title{
    background:url("../images/title5.png") no-repeat center top;
  }
  .t-activity-img{
    width: 100%;
    padding: 50px 0 100px;
    height: 1556px;
    background: url("../images/activity_img.png") no-repeat center 50px;
  }
}
.t-float{
  .pa();
  right: 20px;
  top: 400px;
  height: 603px;
  width: 214px;
  background: url("../images/float_line.png") no-repeat 203px center;
  padding-top: 90px;
  li{
    text-align: right;
    height: 76px;
    line-height: 76px;
    background: url("../images/li_bg.png") no-repeat right center;
    padding-right: 38px;
    .fs(24px,#b62600);
    cursor: pointer;
    &.current,&:hover{
      background: url("../images/li_bg_on.png") no-repeat right center;
      color: #fff;
      font-weight: bold;
    }
  }
}